In [1]:
# library import
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
response = requests.get("https://www.topdevelopers.co/directory/big-data-analytics-companies?page=1")
print(response.url)

https://www.topdevelopers.co/directory/big-data-analytics-companies?page=1

In [4]:
print(response.status_code)

200

In [40]:
soup = BeautifulSoup(response.content,"html.parser")
main_link = soup.find("div",class_="col-xl-12 col-lg-12 comp_listing list_holder")
#print(main_link)

In [65]:
name = []
name1 = main_link.find_all("span", itemprop="name")
for item in name1:
    name.append(item.text.strip())

In [69]:
discrb = []
discrb1= main_link.find_all("span",itemprop="description")
for i in discrb1:
    discrb.append(i.text.strip())

In [71]:
emp = []
emp1 = main_link.find_all("div",class_="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 order-0 order-md-1")
for i in emp1:                         
    p_tage = i.find_all("p",class_="mb-0 set_es_p")[0]
    emp.append(p_tage.text)

In [74]:
per_hour_cost = []
per_hour_cost1 = main_link.find_all("div",class_="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 order-2 order-md-3")
for i in per_hour_cost1:                         
    p_tage = i.find_all("p",class_="mb-0 set_es_p")[0]
    per_hour_cost.append(p_tage.text.strip())

['$26 - $50', '$26 - $50', '$51 - $100', '$26 - $50', '$26 - $50', '$201 - $300', '$51 - $100', 'Up to $25', '$26 - $50', '$26 - $50', '$51 - $100', '$101 - $150', '$51 - $100', '$26 - $50', '$51 - $100', '$26 - $50', 'Up to $25', 'Up to $25', 'Up to $25', 'Up to $25', '$26 - $50', 'Up to $25', 'Up to $25', '$26 - $50', '$26 - $50', '$26 - $50', '$51 - $100', '$51 - $100', '$151 - $200', 'Up to $25', 'Up to $25', '$51 - $100', '$26 - $50', '$26 - $50', '$101 - $150']

In [75]:
project_cost = []
project_cost1 = main_link.find_all("div",class_="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 order-3 order-md-4")
for i in project_cost1:                         
    p_tage = i.find_all("p",class_="mb-0 set_es_p")[0]
    project_cost.append(p_tage.text.strip())

['$10001 - $25000', '$10001 - $25000', '$10001 - $25000', 'Less than - $5000', '$50001 - $100000', '$100001 - $200000', '$25001 - $50000', '$10001 - $25000', '$50001 - $100000', '$50001 - $100000', '$10001 - $25000', '$10001 - $25000', '$5001 - $10000', '$10001 - $25000', '$50001 - $100000', '$5001 - $10000', '$5001 - $10000', '$5001 - $10000', 'Less than - $5000', 'Less than - $5000', '$50001 - $100000', 'Less than - $5000', '$50001 - $100000', '$5001 - $10000', '$50001 - $100000', '$10001 - $25000', '$50001 - $100000', '$25001 - $50000', '$10001 - $25000', 'Less than - $5000', 'Less than - $5000', 'Less than - $5000', '$25001 - $50000', 'Less than - $5000', '$10001 - $25000']

In [38]:
country = []
country1 = main_link.find_all("div",class_="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 order-4 order-md-5")
for i in project_cost1:                         
    p_tage = i.find_all("p",class_="mb-0 set_es_p")[0].text.strip()
    country.append(p_tage)

In [76]:
#merege data

In [13]:
name = []
discrb = []
emp = []
per_hour_cost = []
project_cost = []
country = []

for i in range(1,28):
    url = f"https://www.topdevelopers.co/directory/big-data-analytics-companies?page={i}"
    response = requests.get(url)
    r =response.content
    soup = BeautifulSoup(r,"html.parser")
    main_link = soup.find("div",class_="col-xl-12 col-lg-12 comp_listing list_holder")
    
    name1 = main_link.find_all("span", itemprop="name")
    for item in name1:
        name.append(item.text.strip())
    
    discrb1= main_link.find_all("span",itemprop="description")
    for i in discrb1:
        discrb.append(i.text.strip())

    emp1 = main_link.find_all("div",class_="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 order-0 order-md-1")
    for i in emp1:                         
        p_tage = i.find_all("p",class_="mb-0 set_es_p")[0]
        emp.append(p_tage.text)

    per_hour_cost1 = main_link.find_all("div",class_="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 order-2 order-md-3")
    for i in per_hour_cost1:                         
        p_tage = i.find_all("p",class_="mb-0 set_es_p")[0]
        per_hour_cost.append(p_tage.text.strip())

    project_cost1 = main_link.find_all("div",class_="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 order-3 order-md-4")
    for i in project_cost1:                         
        p_tage = i.find_all("p",class_="mb-0 set_es_p")[0]
        project_cost.append(p_tage.text.strip())

    country1 = main_link.find_all("div",class_="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 order-4 order-md-5")
    for i in project_cost1:                         
        p_tage = i.find_all("p",class_="mb-0 set_es_p")[0].text.strip()
        country.append(p_tage)

In [14]:
data = {"Titles":name,"discb":discrb,
        "Number_of_emp":emp,
        "salary_per_hour":per_hour_cost,
        "project_budget":project_cost,
        "Country":country}

In [15]:
df = pd.DataFrame(data)

In [16]:
df

,Titles,discb,Number_of_emp,salary_per_hour,project_budget,Country
0,Polestar Solutions,Polestar Solutions enable enterprises in their...,51 to 250,$26 - $50,$10001 - $25000,$10001 - $25000
1,PerceptionBox,"PerceptionBox is a top-notch, full cycle and c...",51 to 250,$26 - $50,$10001 - $25000,$10001 - $25000
2,Adoriasoft,We develop software products for startups and ...,11 to 50,$51 - $100,$10001 - $25000,$10001 - $25000
3,Emorphis Technologies,Emorphis Technologies is a leading software de...,51 to 250,$26 - $50,Less than - $5000,Less than - $5000
4,ITRex Group,ITRex is a software development company specia...,251 to 1000,$26 - $50,$50001 - $100000,$50001 - $100000
...,...,...,...,...,...,...
940,Lumenta Digital Icn.,Lumenta Digital is a full-service marketing ag...,11 to 50,$51 - $100,Less than - $5000,Less than - $5000
941,Spiral Mantra Pvt Ltd.,We have highly skilled engineers with in-depth...,11 to 50,$26 - $50,$5001 - $10000,$5001 - $10000
942,Sync4Tech,Sync4Tech is your global software development ...,51 to 250,$26 - $50,$5001 - $10000,$5001 - $10000
943,Deftsoft,Deftsoft is a thriving tech company that provi...,251 to 1000,Up to $25,Less than - $5000,Less than - $5000
944,Apptware Solutions,"At Apptware AI Lab, we offercutting-edge solut...",51 to 250,$51 - $100,$5001 - $10000,$5001 - $10000

In [17]:
df.tail()

,Titles,discb,Number_of_emp,salary_per_hour,project_budget,Country
940,Lumenta Digital Icn.,Lumenta Digital is a full-service marketing ag...,11 to 50,$51 - $100,Less than - $5000,Less than - $5000
941,Spiral Mantra Pvt Ltd.,We have highly skilled engineers with in-depth...,11 to 50,$26 - $50,$5001 - $10000,$5001 - $10000
942,Sync4Tech,Sync4Tech is your global software development ...,51 to 250,$26 - $50,$5001 - $10000,$5001 - $10000
943,Deftsoft,Deftsoft is a thriving tech company that provi...,251 to 1000,Up to $25,Less than - $5000,Less than - $5000
944,Apptware Solutions,"At Apptware AI Lab, we offercutting-edge solut...",51 to 250,$51 - $100,$5001 - $10000,$5001 - $10000